/* 검색 필터 스타일 */
.filter-section {
  display: grid;
  gap: 1.25rem;
}

.triple-row-input {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.25rem;
}

.triple-row-input select {
  padding: 0.625rem;
  font-size: 0.875rem;
  width: 100%;
  border: 1px solid rgb(158, 158, 158);
  border-radius: 0.5rem;
  outline: none;
  cursor: pointer;
}

.triple-row-input select:focus {
  border-color: rgb(243, 241, 202);
  box-shadow: 0 0 5px rgb(243, 241, 202);
}

.twice-row-input {
  display: flex;
  flex: 1;
  justify-content: space-between;
  gap: 1.25rem;
}

.filter-section button {
  flex: 1;
  font-size: 0.9375rem;
}
