/* 공통 스타일 */
main {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  align-items: center;
  margin-top: 6.875rem;
}

section {
  width: 70%;
  border-radius: 0.9375rem;
  background-color: white;
  padding: 1.5625rem;
  border: 1px solid rgb(223, 223, 223);
  box-shadow: 0 0.0625rem 0.1875rem rgba(0, 0, 0, 0.12),
    0 0.0625rem 0.125rem rgba(0, 0, 0, 0.24);
}
section h2 {
  font-size: 1.25rem;
  font-weight: 500;
  cursor: default;
}

button {
  padding: 0.625rem 0.9375rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  box-shadow: 0 0.0625rem 0.1875rem rgba(0, 0, 0, 0.12),
    0 0.0625rem 0.125rem rgba(0, 0, 0, 0.24);
  background-color: rgb(243, 241, 202);
  transition: box-shadow 0.2s;
}

button:hover {
  font-weight: 600;
  box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.12),
    0 0.125rem 0.3125rem rgba(0, 0, 0, 0.24);
}

input {
  padding: 0.625rem;
  font-size: 0.875rem;
  box-sizing: border-box;
  width: 100%;
  border: 0.0625rem solid rgb(158, 158, 158);
  border-radius: 0.5rem;
  outline: none;
  caret-color: rgb(210, 199, 1);
}
/* TODO: h1, h2, h3도 공통으로 지정하기 */

/* 헤더 스타일 */
header {
  position: fixed;
  top: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* 정확히 3등분 되기 위함 */
  align-items: center;
  padding: 1.875rem 2.5rem;
  background-color: rgb(243, 241, 202);
  z-index: 50;
}

header span {
  justify-self: start;
  font-size: 2rem;
}

header h1 {
  justify-self: center;
  font-size: 20.8px;
  font-weight: 600;
}

header div {
  text-align: right;
  font-weight: 500;
}

/* 검색 필터 스타일 */
.filter-section {
  display: grid;
  gap: 1.25rem;
}

.triple-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.625rem;
}

.triple-row select {
  padding: 0.625rem;
  font-size: 0.875rem;
  width: 100%;
  border: 0.0625rem solid rgb(158, 158, 158);
  border-radius: 0.5rem;
  outline: none;
  cursor: pointer;
}

.triple-row select:focus {
  border-color: rgb(243, 241, 202);
  box-shadow: 0 0 0.3125rem rgb(243, 241, 202);
}

.half-row {
  display: flex;
  justify-content: space-between;
  gap: 0.625rem;
}

.half-row input,
.half-row button {
  width: 50%;
  font-size: 0.9375rem;
}

/* 리스트 섹션 스타일 */
.list-section .list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-header .button-group {
  display: flex;
  gap: 0.625rem;
}

table {
  width: 100%;
  border-collapse: separate;
  border-radius: 0.75rem;
  overflow: hidden;
  margin-top: 1.25rem;
  box-shadow: 0 0.0625rem 0.1875rem rgba(0, 0, 0, 0.12),
    0 0.0625rem 0.125rem rgba(0, 0, 0, 0.24);
}

th {
  padding: 0.9375rem;
  background-color: rgb(243, 241, 202);
  text-align: center;
  cursor: default;
}

td {
  padding: 0.9375rem;
  text-align: center;
  cursor: default;
}

/* 모달 스타일 */
.modal.hidden {
  display: none;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.modal-content {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.modal-header h3 {
  font-size: 20px;
  font-weight: 500;
  cursor: default;
}

.modal-header img {
  cursor: pointer;
  transition: transform 0.2s ease, filter 0.2s ease;
}

.modal-header img:hover {
  transform: scale(1.05);
  filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.25));
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}

.input-group label {
  font-weight: 500;
  font-size: 15px;
}

.input-row {
  display: flex;
  gap: 25px;
}
