#hero-section {
  display: flex;
  align-items: center;
  gap: 1.875rem;
  border: 1px solid rgb(234, 233, 233);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 1.25rem;
}

#hero-section img {
  width: 12.5rem;
  height: 12.5rem;
  cursor: pointer;
}

#hero-section > div {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.button-section {
  display: flex;
  gap: 0.9375rem;
  margin-top: 0.625rem;
}

.button-section a {
  position: relative;
  padding: 0.625rem 1.25rem;
  border: none;
  border-radius: 0.9375rem;
  background-color: rgb(254, 255, 221);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.button-section a:hover {
  transform: translateY(-0.1875rem) scale(1.05); /* 살짝 위로 떠오름 */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.18), 0 4px 8px rgb(254, 255, 221);
  font-weight: 500;
}
