html {
  scroll-behavior: smooth; /* 스크롤 부드럽게 */
}
body {
  margin: 0; /* 웹 페이지 전체 적용 */
}

/*header style*/

header {
  position: sticky;
  top: 0; /* 헤더 상단 고정 */
  height: fit-content;
  z-index: 50;
  background-color: rgb(254, 230, 253);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
}

.profile {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover; /* 이미지 왜곡 방지 */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.2s ease; /* 부드럽게 변화 */
  cursor: pointer;
}

.profile:hover {
  transform: translateY(-3px) scale(1.05); /* 살짝 위로 떠오름 */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.18), 0 4px 8px rgba(0, 0, 0, 0.24);
}

.name-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  cursor: default;
}

#name {
  font-size: x-large;
  font-weight: bold;
}

#name + div {
  color: rgb(133, 133, 131); /* 이름과 형제 라인 (바로 아래 하나만 선택)*/
}

.icon-section {
  display: flex;
}

.icon-section img {
  padding: 10px;
  width: 30px;
  height: 30px;
  transition: all 0.2s ease; /* 부드럽게 변화 */
  cursor: pointer;
}

.icon-section img:hover {
  transform: translateY(-3px) scale(1.05); /* 살짝 위로 떠오름 */
}

/* 공통 영역...? */
a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit; /* 부모의 글자 색 따라가기 */
}

main {
  display: flex;
  gap: 20px;
  padding: 20px;
}
main > div {
  flex: 1; /* 나머지 공간을 다 차지하도록 */
}

h2 {
  margin-top: 0px;
  margin-bottom: 35px;
}

main section {
  margin-bottom: 100px;
  scroll-margin-top: 125px; /* 네비게이션을 통해 이동 시 헤더 공간만큼 top 띄우기 */
  border: 1px solid rgb(234, 233, 233);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 20px;
  padding: 30px;
}

/*hero section style*/

#hero {
  display: flex;
  align-items: center;
  gap: 20px;
  border: 1px solid rgb(234, 233, 233);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 20px;
}

#hero img {
  width: 200px;
  height: 200px;
  cursor: pointer;
}

#hero > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.button-section {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}

button {
  position: relative;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  background-color: rgb(254, 255, 221);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.2s ease; /* 부드럽게 변화 */
}

button:hover {
  transform: translateY(-3px) scale(1.05); /* 살짝 위로 떠오름 */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.18), 0 4px 8px rgb(254, 255, 221);
  font-weight: 500;
}

/*side-bar style*/

aside {
  position: sticky;
  top: 125px;
  left: 0;
  width: 130px;
  height: fit-content;
  border: 1px solid rgb(216, 216, 216);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  padding: 0;
}

aside li a {
  padding: 10px;
}
aside li {
  color: rgb(128, 128, 128);
  border-radius: 5px;
}

/* 첫 번째 li는 위쪽 모서리만 둥글게 */
aside li:first-child {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

/* 마지막 li는 아래쪽 모서리만 둥글게 */
aside li:last-child {
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

aside li:hover {
  color: black;
  font-weight: 600;
  background-color: rgb(252, 237, 251);
  transition-duration: 0.5s; /* 부드러운 느낌 ㅎㅎ */
}

/* 스킬 스타일 */

#skill ul {
  flex-direction: row;
  flex-wrap: wrap;
}

#skill li {
  color: black;
  font-size: small;
  padding: 5px 20px;
  border-radius: 15px;
  align-self: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  cursor: default;
  font-size: 16px;
}

.tag-skill {
  background-color: rgb(254, 230, 253);
}

.tag-interest {
  background-color: rgb(254, 255, 221);
}

/* 카드 섹션 ui 구현 */

.card-section {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.card {
  display: flex;
  width: 220px;
  flex-direction: column;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.2s ease; /* 부드럽게 변화 */
  border-radius: 10px;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-3px) scale(1.05); /* 살짝 위로 떠오름 */
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.card-header {
  display: flex;
  align-items: center;
  padding: 15px;
  padding-bottom: 30px;
}

.title {
  font-weight: 600;
}

.card > img {
  width: 100%;
  height: auto;
  border: 1px black solid;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.heart {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgb(254, 230, 253);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  transition: all 0.2s ease; /* 부드럽게 변화 */
}
.heart:hover {
  background-color: rgb(252, 203, 252);
}

.heart img {
  width: 20px;
  height: 20px;
  object-fit: cover;
}

.description {
  color: rgb(116, 115, 115);
  white-space: nowrap; /* 한 줄만 표시 */
  overflow: hidden; /* 넘치는 부분 숨김 */
  text-overflow: ellipsis; /* … 표시 */
  padding: 10px;
  padding-bottom: 50px;
}

/* 사진첩 스타일 */
#photo-section {
  width: 100%;
  height: 250px;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
}

#photo-book {
  display: flex;
  gap: 20px;
  position: absolute;
  left: 0;
  top: 20;
  animation: aniScroll 15s linear infinite;
  transition: all 0.2s ease;
}

#photo-book img {
  width: 200px;
  flex-shrink: 0;
  border: 1px black solid;
  object-fit: cover;
  transition: all 0.3s ease;
  cursor: pointer;
  border-radius: 10px;
}
#photo-book:hover {
  animation-play-state: paused;
}
#photo-book img:hover {
  transform: scale(1.05);
}

@keyframes aniScroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/*footer 스타일 */
#footer {
  height: 500px;
}
